@charset "UTF-8";

body {
  color: #637D8F;
  font-size: 1.0rem;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.01em
}

h2 {
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5rem;
  letter-spacing: 0.01em
}

h3 {
  font-size: 1.0rem;
  font-weight: bold;
  color: #637D8F;
  margin: 2px;
  letter-spacing: 0.01em
}

a{
  color: #009299;
  text-decoration: none;
}
a:hover{
  color: #7696AB;
  text-decoration: underline;
}
a.anchor{
    display: block;
    padding-top: 5.5rem;
    margin-top: -5.5rem;
}


.sidebar__name{
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  padding-top: 5.5rem;
  margin-right: 1.2rem;
}
.sidebar__contents{
  margin-top: 1.3rem;
  font-size: 1.0rem;
}
.sidebar__projects{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 1.0rem;
}
.sidebar__project{
  margin-top: 1.0rem;
  font-size: 1.0rem;
  padding-left: 1.2rem;
}
.sidebar__icons{
  margin-top: 2.0rem;
}
.sidebar__icon{
  padding-right: 1.0rem;
}
.sidebar__icon img:hover{
  opacity: 0.55;
}

.hamburger_my_name{
  font-size: 1.5rem;
  font-weight: 500;
}

.list{
  padding-left: 1.2rem;
  padding-bottom: 0.8rem;
}

.profile_tytle{
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #637D8F;
  clear: both;
  margin-bottom: 1.2rem;
  padding-bottom: 0.1rem;
  border-bottom: solid 1.5px #AFBFC8;
}
.profile_my_name{
  clear: both;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
  color: #637D8F;
}
.profile_body{
  font-size: 1.0rem;
  font-weight: 400;
  padding-left: 1.2rem;
  margin-bottom: 0.8rem;
}
.profile_index{
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.6rem;
  margin-bottom: 1.2rem;
}
.profile_interest{
  font-size: 1.0rem;
  font-weight: 400;
  padding-left: 1.2rem;
}

.project_name{
  font-size: 1.2rem;
  font-weight: 500;
}
.project_author{
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
.project_line{
  border-top: solid 1px #637D8F;
  opacity: 0.25;
}
.project_teaser{
  display: flex;
}
.project_teaser img{
  opacity: 0.85;
}
.project_teaser img:hover{
  opacity: 0.55;
}
.table{
  display: table;
}
.table > div{
    display:table-cell;
    vertical-align: middle;
}
.project_teaser.tba img:hover{
  opacity: 0.85;
}

.proj_label{
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  background-image: none;
  padding: 0.1033em .633em;
  border: 1px solid #4267B2;
  color: #4267B2;
  text-transform: none;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1 solid transparent;
  border-radius: .26666667rem;
}

.label{
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  background-image: none;
  padding: 0.1833em .533em;
  border: 1px solid;
  text-transform: none;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  border-radius: .26666667rem;
}
.label.linked:hover{
  text-decoration: underline;
  opacity: 0.55;
}
.label.conf{
  border-color: #4267B2;
  color: #4267B2;
}
.label.link{
  border-color: #009299;
  color: #009299;
}
.label.pdf{
  border-color: #637D8F;
  color: #637D8F;
}
.label.award{
  border-color: #B83232;
  color: #B83232;
}
.label.conf.project{
  padding: 0.2033em 0.733em;
  font-size: 0.8rem;
}

.label_icon{
  display: table-cell;
  vertical-align: middle;
}
.label_contents{
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.25rem;
}

.pub_type{
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
}
.pub_en{
  font-size: 1.0rem;
  font-weight: 400;
  padding-left: 1.2rem;
  padding-bottom: 1.8rem;
}
.pub_js{
  font-size: 0.95rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 1.2rem;
  padding-bottom: 1.8rem;
}


.date{
  padding-left: 1.2rem;
  margin-bottom: 1.0rem;
  clear: both;
}
.date_date{
  float: left;
  width: 10rem;
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: nomal;
  line-height: 1.5em;
  margin-right: 1.2rem;
}
.date_contents{
  float: left;
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  margin-bottom: 1.2rem;
  max-width: 25rem;
  padding-left: 1.2rem;
}

.patent_list{
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
}

.skill_type{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  padding-left: 1.2rem;
  padding-bottom: 0.2rem;
  padding-top: 1.0rem;
}
.skill_list{
  padding-left: 2.4rem;
  padding-bottom: 0.1rem;
}


.contact_body{
  font-size: 1.0rem;
  font-weight: 400;
  padding-left: 1.2rem;
  margin-bottom: 0rem;
  vertical-align: middle;
}


.contact{
  display: inline-block;
  vertical-align: middle;
  padding-right: 1.2rem;
  font-size: 1.0rem;
}
.contact.linked:hover{
  opacity: 0.55;
  color: #7696AB;
  text-decoration: underline;
}
.contact.sns{
  font-size: 0.87rem;
}
.contact.lab{
  font-weight: 500;
  font-size: 1.2rem;
  vertical-align: middle;
}

.contact_icon{
  display: inline-block;
  vertical-align: middle;
  padding-right: 0.6rem;
}



.index_en{
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #637D8F;
  clear: both;
  padding-top: 3.0rem;
  padding-bottom: 0.1rem;
  border-bottom: solid 1.5px #AFBFC8;
  margin-bottom: 1.2rem;
}
.body_en{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.body_en_bold{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.body_link{
  font-size: 0.87rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}



.index_js{
  font-size: 1.6rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  color: #00ADB5;
  font-style: normal;
  border-bottom: solid 1px #00ADB5;
}
.body_js{
  font-size: 0.95rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer{
  text-align: right;
  padding-top: 1.0rem;
  margin-bottom: 1.5rem;
  opacity: 0.75;
}

.copylight{
  padding-left: 3.0rem;
  margin-right: 5.0rem;
  padding-top: 3.0rem;
  font-size: 0.9rem;
}
