@charset "UTF-8";

body {
  color: #637D8F;
  font-size: 1.0rem;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5rem;
}

h3 {
  font-size: 1.0rem;
  font-weight: bold;
  color: #637D8F;
  margin: 2px;
}

a{
  color: #009299;
  text-decoration: none;
}
a:hover{
  color: #7696AB;
  text-decoration: underline;
}
a.anchor{
    display: block;
    padding-top: 5.5rem;
    margin-top: -5.5rem;
}

.sidebar__name{
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  padding-top: 5.5rem;
  margin-right: 1.2rem;
}
.sidebar__contents{
  margin-top: 1.3rem;
  font-size: 1.0rem;
}
.sidebar__projects{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 1.0rem;
}
.sidebar__project{
  margin-top: 1.0rem;
  font-size: 1.0rem;
  padding-left: 1.2rem;
}
.sidebar__icons{
  margin-top: 2.0rem;
}
.sidebar__icon{
  padding-right: 1.0rem;
}
.sidebar__icon img:hover{
  opacity: 0.75;
}

.hamburger_my_name{
  font-size: 1.5rem;
  font-weight: 500;
}

.list{
  padding-left: 1.2rem;
  padding-bottom: 0.8rem;
}

.authors{
  color: #FFFFFF;
  padding-right: 2rem;
  text-shadow: 1px 1px 6px #000000;
}
.project_title{
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 2.5rem;
  border-bottom: solid 1.5px #FFFFFF;
  padding-bottom: 0.1rem;
  margin-bottom: 1.0rem;
  text-shadow: 1px 1px 6px #000000;
}
.project_index{
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 2.0rem;
  padding-left: 1.2rem;
}
.proj_label{
  display: inline-block;
  vertical-align: middle;
  margin-top: 0.8rem;
  margin-right: 0.5rem;
  background-color: #FFFFFF;
  background-image: none;
  padding: 0.1833em .833em;
  border: 2px solid #4267B2;
    border-top-color: #4267B2;
    border-right-color: #4267B2;
    border-bottom-color: #4267B2;
    border-left-color: #4267B2;
  color: #4267B2;
  text-transform: none;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1 solid transparent;
  border-radius: .26666667rem;
}

.label_icon{
  margin-right: 0rem;
}
.BackGround_BBeep{
  background:#ddd url(../img/BBeep/BBeep_BG.png) no-repeat center center;
  background-size:cover;
  border-radius: .5rem;
}

.BackGround_DOS{
  background:#ddd url(../img/DO-Scanning/DO-Scanning_BG.png) no-repeat center center;
  background-size:cover;
  border-radius: .5rem;
}

.teaser{
  font-size: 1.2rem;
  font-weight: 400;
  width: 95%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  padding-left: 1.2rem;
}
.teaser_bold{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

.abstract{
  font-size: 0.9rem;
  font-weight: 400;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 2rem;
  text-align: justify;
}
.center {
  text-align: center;
}

.project_line{
  border-top: solid 1px #637D8F;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  opacity: 0.25;
}

.pub_en{
  font-size: 1.0rem;
  font-weight: 400;
  margin-top: 1.0rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.0rem;
}
.pub_js{
  font-size: 0.9rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.0rem;
}

.label_icon{
  display: table-cell;
  vertical-align: middle;
}
.label_contents{
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.25rem;
}

.pub_conf_label{
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  background-image: none;
  padding: 0.1833em .533em;
  border: 1px solid #4267B2;
    border-top-color: #4267B2;
    border-right-color: #4267B2;
    border-bottom-color: #4267B2;
    border-left-color: #4267B2;
  color: #4267B2;
  text-transform: none;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1 solid transparent;
  border-radius: .26666667rem;
}
.pub_link_label{
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  background-image: none;
  padding: 0.1833em .533em;
  border: 1px solid #009299;
    border-top-color: #009299;
    border-right-color: #009299;
    border-bottom-color: #009299;
    border-left-color: #009299;
  color: #009299;
  text-transform: none;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1 solid transparent;
  border-radius: .26666667rem;
}
.pub_link_label:hover{
  text-decoration: underline;
}
.pub_label_hover:hover{
  opacity: 0.55;
}

.pub_pdf_label{
  display:inline-block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  background-image: none;
  padding: 0.1833em .533em;
  border: 1px solid #637D8F;
    border-top-color: #637D8F;
    border-right-color: #637D8F;
    border-bottom-color: #637D8F;
    border-left-color: #637D8F;
  color: #637D8F;
  text-transform: none;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1 solid transparent;
  border-radius: .26666667rem;
}
.pub_pdf_label:hover{
  text-decoration: underline;
}

.pub_award_label{
  display: inline-block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: none;
  background-image: none;
  padding: 0.1833em .533em;
  border: 1px solid #B83232;
    border-top-color: #B83232;
    border-right-color: #B83232;
    border-bottom-color: #B83232;
    border-left-color: #B83232;
  color: #B83232;
  text-transform: none;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  border: 1 solid transparent;
  border-radius: .26666667rem;
}

.patent{
  font-size: 0.9rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.0rem;
}



.index_en{
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  /* color: #00A3AB; */
  color: #637D8F;
  clear: both;
  padding-top: 3.0rem;
  padding-bottom: 0.2rem;
  border-bottom: solid 1.5px #7696AB;
  margin-bottom: 1.2rem;
}
.body_en{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.body_en_bold{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.body_link{
  font-size: 0.87rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}



.index_js{
  font-size: 1.6rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  color: #00ADB5;
  font-style: normal;
  border-bottom: solid 1px #00ADB5;
}
.body_js{
  font-size: 0.9rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer{
  border-top: solid 1px #637D8F;
  text-align: center;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  margin-left: 1.2rem;
  opacity: 0.75;
}

.copylight{
  padding-left: 3.0rem;
  margin-right: 5.0rem;
  padding-top: 3.0rem;
  font-size: 0.9rem;
}
