@charset "UTF-8";

body {
  color: #637D8F;
  font-size: 1.0rem;
  /* padding-top: 0.2rem; */
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.5rem;
}

h3 {
  font-size: 1.0rem;
  font-weight: bold;
  color: #637D8F;
  margin: 2px;
}

a{
  color: #009299;
  text-decoration: none;
}
a:hover{
  color: #7696AB;
  text-decoration: underline;
}
a.anchor{
    display: block;
    padding-top: 5.5rem;
    margin-top: -5.5rem;
}

/* img:hover {
   opacity: 0.75;
} */

.page{
  /* width: 980px; */
  display: -webkit-flex;
  display: flex;
  /* margin: 0 auto; */
}


.sidebar__name{
  /* clear: both; */
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  padding-top: 5.5rem;
  margin-right: 1.2rem;
}
.sidebar__contents{
  margin-top: 1.3rem;
  font-size: 1.0rem;
}
.sidebar__projects{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 1.0rem;
}
.sidebar__project{
  margin-top: 1.0rem;
  font-size: 1.0rem;
  padding-left: 1.2rem;
}
.sidebar__icons{
  margin-top: 2.0rem;
}
.sidebar__icon{
  padding-right: 1.0rem;
}
.sidebar__icon img:hover{
  opacity: 0.75;
}

.hamburger_my_name{
  font-size: 1.5rem;
  font-weight: 500;
}

.list{
  padding-left: 1.2rem;
  padding-bottom: 0.8rem;
}

.project_title{
  clear: both;
  font-size: 1.6rem;
  font-weight: 500;
  padding-top: 1.0rem;
  border-bottom: solid 1.5px #7696AB;
  padding-bottom: 0.1rem;
  margin-bottom: 1.0rem;
}
.project_index{
  clear: both;
  /* text-align: center; */
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 2.5rem;
  /* padding-left: 1.2rem; */
  margin-bottom: 2.0rem;
}

.teaser{
  font-size: 1.2rem;
  font-weight: 400;
  width: 95%;
  /* margin-top: 1.0rem; */
  /* padding-left: 1.2rem;
  padding-right: 1.2rem; */
  padding-bottom: 2rem;
  padding-top: 2rem;
  /* text-align: justify; */
  /* word-break: break-all; */
  /* margin: auto; */
}
.teaser_bold{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}

.abstract{
  font-size: 0.9rem;
  font-weight: 400;
  /* width: 85%; */
  padding-left: 1.2rem;
  /* margin-top: 1.0rem; */
  /* padding-left: 1.2rem;
  padding-right: 1.2rem; */
  padding-bottom: 2rem;
  text-align: justify;
  /* word-break: break-all; */
  /* margin: auto; */
}
.center {
  text-align: center;
}

.project_line{
  border-top: solid 1px #637D8F;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  opacity: 0.25;
}

/* .pub_type{
  clear: both;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
} */
.pub_en{
  font-size: 1.0rem;
  font-weight: 400;
  margin-top: 1.0rem;
  padding-left: 1.2rem;
  padding-bottom: 1.0rem;
}
.pub_js{
  font-size: 0.9rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 1.2rem;
  padding-bottom: 1.0rem;
}

.patent{
  font-size: 0.9rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 1.2rem;
  padding-bottom: 1.0rem;
  /* text-align: center; */
}



.index_en{
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  /* color: #00A3AB; */
  color: #637D8F;
  clear: both;
  padding-top: 3.0rem;
  padding-bottom: 0.2rem;
  border-bottom: solid 1.5px #7696AB;
  margin-bottom: 1.2rem;
}
.body_en{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.body_en_bold{
  font-size: 1.0rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.body_link{
  font-size: 0.87rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}



.index_js{
  font-size: 1.6rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  color: #00ADB5;
  font-style: normal;
  border-bottom: solid 1px #00ADB5;
}
.body_js{
  font-size: 0.9rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer{
  border-top: solid 1px #637D8F;
  text-align: center;
  padding-top: 1.0rem;
  padding-bottom: 1.0rem;
  margin-left: 1.2rem;
  opacity: 0.75;
}

.copylight{
  padding-left: 3.0rem;
  margin-right: 5.0rem;
  padding-top: 3.0rem;
  font-size: 0.9rem;
  /* border-top: solid 1px #7696AB; */
}
