@charset "UTF-8";

body {
  color: #435561;
  font-size: 0.95rem;
  font-family: 'Fira Sans', 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1.55rem;
}

span {
  /* display: inline-block; */
}

h1 {
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.01em
}

h2 {
  clear: both;
  font-size: 1.1rem;
  font-weight: 500;
  padding-top: 1.5rem;
  letter-spacing: 0.01em
}

h3 {
  font-size: 0.9rem;
  font-weight: bold;
  color: #637D8F;
  margin: 2px;
  letter-spacing: 0.01em
}

a{
  color: #0B8C92;
  text-decoration: none;
  /* text-decoration: underline; */

}
a:hover{
  color: #0B8C92;
  opacity: 0.55;
  text-decoration: underline;
}
a.anchor{
    display: block;
    padding-top: 5.5rem;
    margin-top: -5.5rem;
}

.sidebar__name{
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.5rem;
  padding-top: 5.5rem;
  margin-right: 1.2rem;
}
.sidebar__contents{
  margin-top: 1.3rem;
  font-size: 0.9rem;
}
.sidebar__projects{
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 0.9rem;
}
.sidebar__project{
  margin-top: 1.0rem;
  font-size: 0.9rem;
  padding-left: 1.2rem;
}
.sidebar__icons{
  margin-top: 2.0rem;
}
.sidebar__icon{
  padding-right: 1.0rem;
}
.sidebar__icon img:hover{
  opacity: 0.75;
}

.hamburger_my_name{
  font-size: 1.4rem;
  font-weight: 500;
}

.list{
  padding-left: 1.2rem;
  margin-bottom: 1.5rem;
  /* padding-bottom: 0.8rem; */
}


.project_line{
  border-top: solid 1px #637D8F;
  margin-top: 3.0rem;
  margin-bottom: 3.0rem;
  opacity: 0.25;
}


.pub_en{
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 1.0rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.0rem;
}
.pub_js{
  font-size: 0.85rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 1.0rem;
}

.patent{
  font-size: 0.85rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.body_en{
  font-size: 0.9rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}
.body_en_bold{
  font-size: 0.9rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.body_link{
  font-size: 0.77rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
}

.body_js{
  font-size: 0.85rem;
  font-family: 'a-otf-gothic-bbb-pr6n', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer{
  text-align: center;
  margin-top: 4.0rem;
  margin-bottom: 1.5rem;
  opacity: 0.75;
}

.blog_title{
  font-size: 1.55rem;
  font-family: 'a-otf-midashi-go-mb31-pr6n', sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 0.1rem;
  padding-bottom: 0.25rem;
  border-bottom: solid 1.5px #637D8F;
}
.blog_title_en{
  font-size: 1.65rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}
.blog_day{
  font-size: 0.95rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 1.2rem;
  opacity: 0.65;
}
.blog_div{
  margin-bottom: 1.5rem;
}
.jp_bold{
  font-family: 'Fira Sans', 'a-otf-midashi-go-mb31-pr6n', sans-serif;
  font-weight: 500;
}

.blog_subtitle{
  font-size: 1.25rem;
  font-family: 'Fira Sans','a-otf-midashi-go-mb31-pr6n', sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 2.5rem;
  margin-bottom: 1.75rem;
  padding-top: 0.3rem;
  padding-bottom: 0.05rem;
  border-bottom: solid 1px rgba(99,125,124, 0.3);
}

.caption{
  clear: both;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
  text-align:center;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.65;
}

blockquote {
  position: relative;
  padding: 10px 12px;
  box-sizing: border-box;
  font-style: italic;
  color: #435561;
  border-left: solid 40px #c4c4c4;
  background: #f3f3f3;
  margin-bottom: 0.25rem;
}

blockquote:before{
  display: inline-block;
  position: absolute;
  top: 60%;
  left: -45px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "“";
  font-family: sans-serif;
  color: #FFF;
  font-size: 80px;
  line-height: 1;
}

blockquote p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}


.cite_reference{
  font-size: 0.75rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  margin-bottom: 1.5rem;
  opacity: 0.65;
}

.figure_reference{
  font-size: 0.75rem;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 1.5rem;
  opacity: 0.65;
}

.resizeimage {
  text-align: center;
  margin: 0 auto;
  max-width: 600px; 
}
.resizeimage img { width: 85%;}

.resizeimagewide {
  text-align: center;
  margin: 0 auto;
  max-width: 1000px; 
}
.resizeimagewide img { width: 100%;} 